In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sqlalchemy import create_engine
import sqlalchemy as sal
!pip install pyodbc
import pyodbc

Requirement already satisfied: pyodbc in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (5.1.0)

In [5]:
df = pd.read_csv("orders.csv", na_values=['Not Available','unknown'])

In [39]:
df.head(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,9,51.3,1658.7,188.7
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,4,27.3,882.7,132.7
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,3,0.6,19.4,-0.6
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,3,8.2,401.8,41.8
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,5,3.5,66.5,6.5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,3,0.0,0.0,0.0
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,6,20.1,649.9,39.9
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,2,2.4,57.6,-2.4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,2,0.4,9.6,-0.4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,3,6.3,203.7,33.7

In [42]:
df.tail(20)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
9974,9975,2022-11-17,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10004752,7,0.4,19.6,-0.4
9975,9976,2023-12-16,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Office Supplies,Paper,OFF-PA-10000743,2,0.4,9.6,-0.4
9976,9977,2022-09-11,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002496,2,12.5,237.5,37.5
9977,9978,2023-12-03,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Office Supplies,Fasteners,OFF-FA-10003467,7,0.4,9.6,-0.4
9978,9979,2023-06-05,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003727,4,0.4,9.6,-0.4
9979,9980,2023-10-12,Standard Class,Home Office,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10002026,14,13.2,426.8,16.8
9980,9981,2023-06-26,Second Class,Consumer,United States,Lafayette,Louisiana,70506,South,Furniture,Tables,FUR-TA-10001039,1,1.8,88.2,8.2
9981,9982,2022-11-14,First Class,Consumer,United States,Fairfield,Ohio,45014,East,Office Supplies,Labels,OFF-LA-10004484,5,1.0,19.0,-1.0
9982,9983,2023-05-27,Standard Class,Consumer,United States,Grand Rapids,Michigan,49505,Central,Office Supplies,Paper,OFF-PA-10002195,7,1.6,38.4,-1.6
9983,9984,2022-09-14,Standard Class,Consumer,United States,Grand Rapids,Michigan,49505,Central,Technology,Phones,TEC-PH-10001305,2,4.0,96.0,16.0
9984,9985,2023-08-04,Standard Class,Consumer,United States,Long Beach,New York,11561,East,Office Supplies,Labels,OFF-LA-10003766,10,0.6,29.4,-0.6
9985,9986,2023-09-30,Standard Class,Consumer,United States,Long Beach,New York,11561,East,Office Supplies,Supplies,OFF-SU-10000898,4,1.8,58.2,8.2
9986,9987,2022-11-30,Standard Class,Consumer,United States,Los Angeles,California,90008,West,Technology,Accessories,TEC-AC-10003399,1,2.0,38.0,-2.0
9987,9988,2023-04-01,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Accessories,TEC-AC-10001539,1,2.4,77.6,-2.4
9988,9989,2022-11-17,Standard Class,Corporate,United States,Athens,Georgia,30605,South,Technology,Phones,TEC-PH-10004006,5,10.5,199.5,19.5
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [9]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [20]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [34]:
pd.to_datetime(df['Order Date'],format="%Y-%m-%d")

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: Order Date, Length: 9994, dtype: datetime64[ns]

In [22]:
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [45]:
print("any missing values?",df.isnull () .values.any())
df.isnull() .sum()

any missing values? True

order_id        0
order_date      0
ship_mode       6
segment         0
country         0
city            0
state           0
postal_code     0
region          0
category        0
sub_category    0
product_id      0
quantity        0
discount        0
sale_price      0
profit          0
dtype: int64

In [46]:
df.dropna(inplace=True)

In [43]:
dup_data=df.duplicated() .any()
print ("are there any duplicate value?",dup_data)

are there any duplicate value? False

In [17]:
df.rename(columns={'Order Id':'order_id','City':'city'})
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [43]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [44]:
engine = sal.create_engine('mssql://DESKTOP-JBIISF7/Retail_Orders?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

In [47]:
df.to_sql('df_retail',con=conn , index=False, if_exists= 'append')

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__df_retai__46596229A2FCBE55'. Cannot insert duplicate key in object 'dbo.df_retail'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO df_retail (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ... 6389 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (1, '2023-03-01', 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Bookcases', 'FUR-BO-10001798', 2, 5.2, 254.8, 14.800000000000011, 2, '2023-08-15', 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Chairs', 'FUR-CH-10000454', 3, 21.900000000000002, 708.1, 108.10000000000002, 3, '2023-01-10', 'Second Class', 'Corporate', 'United States', 'Los Angeles', 'California', 90036, 'West', 'Office Supplies', 'Labels', 'OFF-LA-10000240', 2, 0.5, 9.5, -0.5, 4, '2022-06-18' ... 1996 parameters truncated ... 19.2, -0.8000000000000007, 135, '2022-10-28', 'Standard Class', 'Consumer', 'United States', 'Roseville', 'California', 95661, 'West', 'Office Supplies', 'Paper', 'OFF-PA-10001736', 1, 2.0, 38.0, 8.0, 136, '2022-03-05', 'Standard Class', 'Consumer', 'United States', 'Roseville', 'California', 95661, 'West', 'Office Supplies', 'Art', 'OFF-AR-10001149', 4, 0.5, 9.5, -0.5, 137, '2022-03-28', 'Standard Class', 'Consumer', 'United States', 'Roseville', 'California', 95661, 'West', 'Office Supplies', 'Fasteners', 'OFF-FA-10002988', 2, 0.0, 0.0, 0.0)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [48]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')